<!DOCTYPE html>
<html lang="en" xmlns:th='www.thymeleaf.org'>

<head>
  <title>Employee System</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}" />

  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>

  <!-- Datatables -->
  <link th:rel="stylesheet" th:href="@{/webjars/datatables/css/jquery.dataTables.css}">
  <script th:src="@{/webjars/datatables/js/jquery.dataTables.js}"></script>

  <!--Moment JS-->
  <script th:src='@{/webjars/momentjs/min/moment.min.js}'></script>
  <script th:src='@{/webjars/momentjs/min/moment-with-locales.min.js}'></script>

  <!-- Popper js-->
  <script th:src='@{/webjars/popperjs__core/dist/umd/popper.min.js}'>    </script>

  <!-- Datepicker -->
  <script th:src='@{/webjars/eonasdan__tempus-dominus/dist/js/tempus-dominus.min.js}'></script>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/eonasdan__tempus-dominus/dist/css/tempus-dominus.min.css}">
  <script th:src='@{/webjars/eonasdan__tempus-dominus/dist/plugins/moment-parse.js}'></script>

</head>

<body>
  <div class="container">
    <div class="border my-2 p-3">
      <div id="searchForm" class="row gap-2 ">
        <div class="collapse" id="searchCollapse">
          <div class="row">
            <div class="col">
              <label for="employee_id" class="form-label">ID</label>
              <input type="text" name="employee_id" class="form-control">
            </div>
            <div class="col">
              <label for="employee_fullname" class="form-label">Fullname</label>
              <input type="text" name="employee_fullname" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="employee_birthdate" class="form-label">Birthday Date</label>
              <div class="input-group date" id="employee_birthdate">
                <input type="text" name="employee_birthdate" class="form-control datetimepicker-input">
                <div class="input-group-text">
                  <i class="fa-regular fa-calendar" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="col">
              <label for="employee_hiredate" class="form-label">Hire Date</label>
              <div class="input-group date" id="employee_hiredate">
                <input type="text" name="employee_hiredate" class="form-control">
                <div class="input-group-text">
                  <i class="fa-regular fa-calendar" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-11">
            <button id="searchBtn" onclick="searchEmployee()" type="submit" class="btn btn-primary">Search</button>
            <button id='resetBtn' onclick="resetAllFilter()" type="reset" class="btn btn-danger">Reset</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-lg" id="collapseBtn" onclick="showCollapse()">
              <span>
                <i class="fa-solid fa-arrow-down"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <table id="employeeTable" class="display">
      <thead>
        <tr>
          <th>ID</th>
          <th>Fullname</th>
          <th>Birthday Date</th>
          <th>Hire Date</th>
        </tr>
      </thead>
    </table>
  </div>

  <script>
    let searchCollapse = new bootstrap.Collapse("#searchCollapse", {
      toggle: false
    })

    $(document).ready(function () {
      tempusDominus.extend(tempusDominus.plugins.moment_parse, 'DD-MMM-yyyy');
      initDate("employee_birthdate");
      initDate("employee_hiredate");
      $(document).find("input").val('')
      searchCollapse = new bootstrap.Collapse("#searchCollapse", {
        toggle: false
      })
      searchCollapse.show()
    })

    function showCollapse() {
      searchCollapse.show()
    }

    // Listener
    $("#searchCollapse").on("shown.bs.collapse", function () {
      $("#collapseBtn").find("span").html(`<i class='fa-solid fa-arrow-up'></i>`)
      $("#collapseBtn").click(function () {
        searchCollapse.hide();
      })
    })

    $("#searchCollapse").on("hidden.bs.collapse", function () {
      $("#collapseBtn").find("span").html(`<i class='fa-solid fa-arrow-down'></i>`)
      $("#collapseBtn").click(function () {
        searchCollapse.show();
      })
    })


    function resetAllFilter() {
      $("#searchForm").find('input').val("");
    }

    function resetEmployee() {
      resetAllFilter()
      searchEmployee()
    }

    function searchEmployee() {
      EmployeeTable.ajax.reload()
    }

    function initDate(elementId = "") {
      new tempusDominus.TempusDominus(document.getElementById(elementId), {
        display: {
          components: {
            calendar: true,
            date: true,
            hours: false,
            minutes: false,
            seconds: false,
          },
          buttons: {
            today: true,
            clear: true,
            close: true,
          }
        },
        viewDate: new Date()
      })
    }
  </script>
  <script type="text/javascript" th:src="@{/js/employee.table.js}"></script>
  <script type='text/javascript' th:src="@{/js/utils.js}"></script>
</body>

</html>
